Repository cobbles/.dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: format-lua, format-toml, format-yaml-json-css, format-shell

lefthook.yml:

commit-msg:
  commands:
    lint-message:
      run: npx commitlint --edit {1}

pre-commit:
  commands:
    format-lua:
      glob: "*.lua"
      run: stylua {staged_files}
    format-toml:
      glob: "*.toml"
      run: taplo format {staged_files}
    format-yaml-json-css:
      glob: "*.{yaml,yml,json,css}"
      run: prettier --write {staged_files}
    format-shell:
      glob: "*.{sh,bash,zsh}"
      run: shfmt -w {staged_files}

pre-push:
  commands:
    no-wip:
      run: git log origin/main..HEAD --oneline | grep -qvE "wip|fixup!"

post-checkout:
  commands:
    set-template:
      run: git config commit.template .gitmessage

post-merge: # Runs when they pull new code
  commands:
    set-template:
      run: git config commit.template .gitmessage

chore: cleanup setup script to not have as many dependencies
  archinstall/user_configuration.json
  aur_packages
  files/.alacritty.toml
  files/.config/nvim/lazy-lock.json
  files/.config/rofi/config.rasi
  files/.config/sway/config
  files/.config/sway/swaylock.sh
  files/.config/waybar/style.css
  files/.tmux.conf
  files/.zshrc
  ly/config.ini
  passwords
  setup
  swappy
Due: format-toml, format-yaml-json-css, format-shell

fix: remove syntax error in rofi css
  files/.config/rofi/config.rasi
Due: none

feat: update status bar and remove ohmyzsh
  files/.config/i3status-rust/config.toml
  files/.config/sway/config
  files/.config/sway/swaylock.sh
  files/.zshrc
Due: format-toml, format-shell

feat: add swaylock
  files/.config/i3status-rust/config.toml
  files/.config/sway/swaylock.sh
Due: format-toml, format-shell

chore: fix login command in readme
  README.md
Due: none

fix: run pacman in sudo
  setup
Due: none

fix: remove calls to undefined setup functions
  setup
Due: none

feat: add i3status-rust to aur packages
  aur_packages
Due: none

feat: add zplug to aur
  aur_packages
Due: none

feat: add post install function
  setup
Due: none

feat: add alacritty and rofi to aur packages
  aur_packages
Due: none

feat: add screen to aur packages
  aur_packages
Due: none

fix: set missing format for backlight status
  files/.config/i3status-rust/config.toml
  files/.config/nvim/lazy-lock.json
  files/.zshrc
Due: format-toml, format-yaml-json-css
